<div class="contianer-fluid">
  <div class="row">
    <div class="header-parent">
      <div class="header-child">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 d-flex">
          <div class="custom-icon-parent">
            <div class="custom-icon-child">
              <img width="75" src="assets/img/flipkart-plus_4ee2f9.png" alt="Flipkart" title="Flipkart">
            </div>
          </div>
          <div class="custom-search-parent">
            <form class="custom-form-search" method="GET">
              <div class="w-100 custom-form-inner">
                <div class="custom-input-parent">
                  <input type="text" value="" class="custom-input" title="Search for products, brands and more" name="q" autocomplete="off"
                    placeholder="Search for products, brands and more">
                </div>
              </div>
            </form>
          </div>
          <div class="custom-text-parent">
            <div class="custom-input-child">
              <span>Login &amp; Signup</span>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    
  </div>
</div>
<app-navigation></app-navigation>