<div class="container-fluid p-0">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12 p-0">
      <div class="navigation-parent">
        <div class="navigation-child">
          <ul class="custom-ul">
            <li class="custom-li">
              <span class="custom-li-span">Electronics
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">TVs &amp; Appliances
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Men
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Women
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Baby &amp; Kids
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Home &amp; Furniture
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Sports, Books &amp; More
              </span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Grocery</span>
            </li>
            <li class="custom-li">
              <span class="custom-li-span">Offer Zone</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>